header {
    text-align: center;
    background-color: rgb(224, 224, 224);
    border-radius: 35px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

main {
    margin: 20px;
    padding: 20px;
    background-color: rgb(245, 245, 245, 0.9);
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
body {
    background-image: ;
}