Aegyarak h2 {
    font-size: 70px;
    letter-spacing: 5px;
    text-shadow:
        2px 2px 4px black,
       -2px 2px 4px black,  /*ChatGPT*/
        2px -2px 4px black,
       -2px -2px 4px black;
    align-items: center;
    text-align: center;
    display: grid;
}

#jegyarak p {
    font-size: 60px;
    align-items: center;
    text-align: center;
    display: grid;
}

#kep2 {
    display: grid;
    grid-area: s5;
    width: 100%;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 100%;
}

#gridek {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "s2 s3"
        "s4 s5";
    width: 100%;
    max-width: 1900px;
    margin: auto;
}

section {
    grid-template-columns: 1fr;
    display: grid;
}


footer {
    padding-top: 20px;
    grid-template-rows: 1fr 1fr;
    display: grid;
    grid-area: f;
}

#footerkep {
    width: 55px;
    display: grid;
}


footer img {
    padding-right: 20px;
    max-width: 70px;
    max-height: 70px;
    float: left;
}

#footerlogo {
    float: right;
    max-width: 70px;
    max-height: 70px;
}

#akos {
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 1700px) { /*kisebb monitorokra támogatás*/
   article {
    width: 100%;
    max-width: 100vw; /*viewport width = 100% 1% = a böngésző ablak 1%-a*/
}

nav a {
    font-size: 2.4vw;
    padding: 20px;
    margin-left: 10px;
}

#felirat {
    padding: 400px;
    max-width: 100%;
    height: 400px;
}

#felirat h3 {
    width: 100%;
    font-size: 40px;
}

#Leiras {
    padding: 10px;
}

#Leiras h2 {
    font-size: 40px;
    letter-spacing: 15px;
}

#Leiras p {
    margin: auto;
    max-width: 1600px;
    font-size: 25px;
    padding-bottom: 30px;
}

#kep1 {
    width: 100%;
}

#tablazat h2 {
    font-size: 40px;
    letter-spacing: 15px;
}

.valdocco {
    width: 100%;
    max-width: 900px;
    font-size: 25px;
}

.valdocco th {
    font-size: 50px;
    letter-spacing: 10px;
    padding: 20px 0;
}

.valdocco td {
    padding: 20px;
    vertical-align: middle;
    border-bottom: 3px solid black;
}

.valdocco img {
    width: 150px;
}

#jegyarak {
    padding: 10px;
}

#jegyarak h2 {
    font-size: 50px;
    letter-spacing: 5px;
}

#jegyarak p {
    font-size: 40px;
}

img {
    width: 100%;
    height: 100%;
}



section {
    grid-template-columns: 1fr;
    display: grid;
} 
}

@media screen and (max-width: 600px) { /*mobilos nezet*/
    header {
        grid-template-columns: 1fr;
        row-gap: 10px;
        border-bottom: 0;
    }

    #title_area {
        border-right: none;
        margin: auto;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        border-bottom: 2px black solid;
        padding: 10px;
    }

    h1 {
        margin: 0;
        font-size: 50px;
        text-align: left;
    }

    #header_logo {
        max-width: 75px;
        float: none;
        margin: 0;
        margin: auto;
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-bottom: 10px;
        margin: auto;
        border-bottom: 2px black solid;
    }
    
    nav a {
        font-size: 26px;
        margin: auto;
    }

    #felirat {
        padding: 300px 20px;
        width: auto;
        background-image: url(kepek/bosco.jpg);
    }

    #felirat h3 {
        font-size: 40px;
    }

    #Leiras h2,
    #tablazat h2 {
        font-size: 28px;
        letter-spacing: 4px;
    }

    #jegyarak h2 {
        font-size: 40px;
    }
    #jegyarak p {
        font-size: 28px;
        max-width: 100%;
    }

    #leiras {
        text-align: justify;
        text-align: left;
    }

    #gridek {
        grid-template-columns: 1fr;
        grid-template-areas:
            "s2"
            "s3"
            "s4"
            "s5";
        max-width: 100%;
    }

    .valdocco {
        font-size: 16px;
    }

    .valdocco th {
        font-size: 22px;
        letter-spacing: 3px;
    }

    .valdocco img {
        width: 60px;
    }

    footer h2 {
        font-size: 16px;
    }
}