body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-areas: 
    "h"
    "ar"
    "f"
    ;
}

header {
    grid-area: h;
    display: grid;
    grid-template-areas: "logo nav";
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: white;
    border-bottom: 5px black solid;
}

h1 {
    font-size: 60px;
    margin-left: 150px;

}
#title_area {
    border-right: 5px black solid;
    padding-right: 30px;
}
#header_logo {
    float: left;
    max-width: 130px;
    grid-template-columns: auto auto;
    align-items: center;
}

nav {
    display: grid;
    display: inline-block;
    
}

a {
    font-size: 50px;
    text-decoration: none;
    color:black;
    margin-left: 120px;
    font-weight: 500;
    padding: 20px;
}
a:hover {
    font-style: italic;
    background-color: rgb(202, 202, 202);
    transform: scale(1.05);
    padding: 20px;
    border-radius: 50px;
    transition: background-color 0.35s ease,  /*ChatGPT*/
                transform 0.2s ease; 
            
}

article {
    display: grid;
    grid-area: ar;
}

footer {
    display: grid;
    grid-area: f;
}